@{
    Layout = "~/Layouts/User/_Layout.cshtml";
    ViewData["Title"] = "Inquiry";
}

<br />
<br />
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">

            <div class="card-header">
                <span class="h2">Inquiry List</span>              
            </div>

            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item ml-auto ">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#reviewable" role="tab">Pending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#pending" role="tab">Complete</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade active show" id="reviewable" role="tabpanel">

                        <table id="DT_load_pending" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <td>Date</td>
                                    <td>Time</td>
                                    <td>ReportId</td>
                                    <td></td>
                                </tr>
                            </thead>
                        </table>

                    </div>

                    <div class="tab-pane fade" id="pending" role="tabpanel">
                        <table id="DT_load_solved" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <td>Date</td>
                                    <td>Time</td>
                                    <td>ReportId</td>
                                    <td></td>
                                </tr>
                            </thead>
                        </table>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{


    <script src="~/js/Farmer/load_inquiry_data.js"></script>

}